name: frigate
services:
  frigate:
    container_name: frigate
    privileged: true # this may not be necessary for all setups
    hostname: frigate
    restart: unless-stopped
    stop_grace_period: 30s
    image: ghcr.io/blakeblackshear/frigate:stable
    shm_size: 1536mb
    devices:
      - /dev/dri/card1:/dev/dri/renderD128 # For Intel QuickSync
    environment:
      LIBVA_DRIVER_NAME: i965
      FRIGATE_RTSP_PASSWORD: ${FRIGATE_RTSP_PASSWORD}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - config:/config
      - /u/frigate:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8971:8971"
      - "8554:8554" # RTSP feeds
      - "5000:5000" # unauthenticated API
    networks:
      cctv-vlan:
        ipv4_address: ${CCTV_VLAN_IP}
        mac_address: ${CCTV_VLAM_MAC}
      proxy-vlan:
        ipv4_address: ${PROXY_VLAN_IP}
        mac_address: ${PROXY_VLAM_MAC}
    dns:
      - ${DNS_IP1}
      - ${DNS_IP2}
    dns_search: ${DOMAIN}

volumes:
  config:
  
networks:
  cctv-vlan:
    external: true
  proxy-vlan:
    external: true