name: frigate
services:
  frigate:
    container_name: frigate
    hostname: frigate
    restart: unless-stopped
    stop_grace_period: 30s
    image: ghcr.io/blakeblackshear/frigate:stable
    volumes:
      - ./config:/config
      - /u/frigate:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8971:8971"
      - "8554:8554" # RTSP feeds
    networks:
      cctv-vlan:
        ipv4_address: ${CCTV_VLAN_IP}
      proxy-vlan:
        ipv4_address: ${PROXY_VLAN_IP}
    dns:
      - ${DNS_IP1}
      - ${DNS_IP2}
    dns_search: ${DOMAIN}

networks:
  cctv-vlan:
    external: true
  proxy-vlan:
    external: true